<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207076803242-0q0i36rifass8p7rgg3neia8mb1mrfmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207076803242-0q0i36rifass8p7rgg3neia8mb1mrfmi</string>
	<key>API_KEY</key>
	<string>AIzaSyCa-Wtcn-7pZyBlHhHjDWqqtZpXqDVzfUE</string>
	<key>GCM_SENDER_ID</key>
	<string>207076803242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.projekt2.MediaHub</string>
	<key>PROJECT_ID</key>
	<string>mediahub-bbd7b</string>
	<key>STORAGE_BUCKET</key>
	<string>mediahub-bbd7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207076803242:ios:f81668222cbbd86dae46d3</string>
</dict>
</plist>